*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
/* body{
    color: white;
    background: rgb(63,31,111);
    background: linear-gradient(180deg, rgba(63,31,111,1) 54%, rgba(112,44,213,1) 86%, rgba(63,31,111,1) 100%);
    background-repeat: no-repeat;
} */
.inner{
    display: flex;
    background: #1b0f38;
    position: relative;
}
.inner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./metrials image/top-background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-repeat: no-repeat;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.911);
    padding: 10% 0;
}
.top-image{
    grid-column-start: 1;
    grid-column-end: 8;
    justify-content: center;
    display: flex;
    align-items: center;
}
.top-heading-1{
    grid-column-start: 2;
    grid-column-end: 7;
    padding-top: 5%;
    text-align: center;
}
.top-heading-1 h1{
    font-size: 54px;
    font-family: 'arial black';
}
.top-paragraph{
    grid-column-start: 2;
    grid-column-end: 7;
    padding-top: 5%;
    text-align: center;
}
.top-btn{
    padding: 5% 0;
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}
.top-btn button{
    background-color:  #0f9bff;
    color: white;
    border: none;
    font-family: 'arial black';
    font-size: 15px;
    padding: 20px 30px;
    font-weight: 300;
    border-radius: 30px;
    transition: .3s all ease-in-out;
}
.top-btn button:hover{
    background-color:  #006bb8;
}
@media screen and (max-width:1080px){
    .top-image, .top-heading-1, .top-paragraph, .top-btn{
        grid-column-start: 1;
        grid-column-end: 8;
    }
}
@media screen and (max-width:600px){
    .inner{
        display: flex;
        background: #1b0f38;
        position: relative;
        padding: 15% 0;
    }
    .top-heading-1 h1{
        font-size: 40px;
    }
}
@media screen and (max-width:350px){
    .top-heading-1 h1{
        font-size: 30px;
    }
}

#wrapper{
    background: #1C1036;
    background: linear-gradient(-180deg, #1C1036 9%, rgb(104, 0, 116)  100%, rgb(50, 0, 56) 100%);
}
.body2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: rgba(255, 255, 255, 0.801);
    padding: 10% 0;
    z-index: 1000;
}
.inner-2{
    display: flex;
    /* background: #55005e; */
    background: #1C1036;
    background: linear-gradient(-180deg, #1C1036 9%, rgb(104, 0, 116)  100%, rgb(50, 0, 56) 100%);
    position: relative;
}
.inner-2::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #1b0f38;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}
.image-part{
    grid-column-start: 2;
    grid-column-end: 5;
}
.text-part{
    grid-column-start: 7;
    grid-column-end: 12;
}
.body2-top-heading h2{
    font-size: 44px;
    font-family: 'arial black';
}
.text-part .paragraphs{
    line-height: 50px;
    font-size: 18px;
    padding-top: 5%;
}
.text-part .paragraphs .para3{
    line-height: 25px;
    padding-bottom: 3%;
}
.text-part .paragraphs .para4{
    line-height: 25px;
}
@media screen and (max-width:1120px){
    .image-part{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .image-part img{
        width: 300px;
    }
    .text-part{
        grid-column-start: 4;
        grid-column-end: 13;
    }
}
@media screen and (max-width:750px){
    .image-part{
        grid-column-start: 2;
        grid-column-end: 13;
    }
    .image-part img{
        width: 250px;
    }
    .text-part{
        grid-column-start: 2;
        grid-column-end: 13;
    }
}
@media screen and (max-width:750px){
    .text-part .paragraphs{
        font-size: 14px;
        line-height: 20px;
    }
    .text-part .body2-top-heading h2{
        font-size: 30px;
    }
    .text-part .paragraphs p{
        padding-top: 3%;
    }
}

.inner-3{
    display: flex;
    position: relative;
    background: #1C1036;
    background: linear-gradient(-180deg, rgb(104, 0, 116)  50%, rgb(50, 0, 56) 100%);
}
.inner-3::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #1b0f38;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}
.body3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: rgba(255, 255, 255, 0.945);
    padding: 10% 0 0 0;
    z-index: 1000;
}
.body3-top-heading{
    grid-column-start: 2;
    grid-column-end: 12;
}
.body3-top-heading h3{
    font-size: 30px;
}
.body3-top-heading h4{
    font-size: 45px;
    font-family: 'arial black';
    line-height: 50px;
}
.body3-top-paragraph{
    grid-column-start: 2;
    grid-column-end: 12;
    padding-top: 4%;
}
.body3-top-paragraph p{
    line-height: 30px;
    color: rgba(255, 255, 255, 0.822);
}
.body3 .left-text-part{
    grid-column-start: 2;
    grid-column-end: 7;
    padding-top: 15%;
}
.body3 .left-text-part h3{
    font-size: 30px;
}
.body3 .left-text-part .laptop-paragraph{
    padding-top: 7%;
    color: rgba(255, 255, 255, 0.767);
    letter-spacing: 1px;
    font-family: arial;
}
.body3 .left-text-part .mobile-paragraph{
    display: none;
}
.right-image-part{
    grid-column-start: 8;
    grid-column-end: 13;
    padding-top: 15%;
}
.right-image-part img{
    width: 500px;
}
@media screen and (max-width:1100px){
    .right-image-part{
        grid-column-start: 7;
        grid-column-end: 12;
        padding-top: 15%;
    }
    .right-image-part img{
        width: 400px;
}

}
@media screen and (max-width:760px){
    .body3 .left-text-part{
        grid-column-start: 2;
        grid-column-end: 13;
        padding-top: 15%;
    }
    .right-image-part{
        grid-column-start: 1;
        grid-column-end: 12;
        padding-top: 15%;
    }
    .body3-top-heading{
        grid-column-start: 2;
        grid-column-end: 13;
    }
    .body3-top-heading h3{
        font-size: 30px;
    }
    .body3-top-heading h4{
        font-size: 35px;
        font-family: 'arial black';
        padding-top: 5%;
        line-height: 50px;
    }
}
@media screen and (max-width:425px){
    .right-image-part{
        grid-column-start: 1;
        grid-column-end: 12;
        padding-top: 15%;
    }
    .right-image-part img{
        width: 300px;
    }
    .body3 .left-text-part .mobile-paragraph{
        display: block;
        padding-top: 7%;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.767);
        letter-spacing: 1px;
        font-family: arial;
    }
    .body3 .left-text-part .laptop-paragraph{
        display: none;
    }
}

.inner-4{
    display: flex;
    position: relative;
    background: #1C1036;
    background: linear-gradient(-180deg,rgb(50, 0, 56) 100%, rgb(104, 0, 116)  100% );

}
.inner-4::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #1b0f38;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}
.body4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 3% 0 0 0;
    color: rgba(255, 255, 255, 0.945);
    z-index: 1000;
}
.body4 .image-left{
        grid-column-start: 2;
        grid-column-end: 6;
}
.body4 .image-left img{
    margin: auto;
    height: 70%;
}
.body4 .right-text{
    grid-column-start: 7;
    grid-column-end: 12;
}
.body4 .right-text h3{
    font-size: 30px;
}
.body4 .right-text .laptop-paragraph{
    padding-top: 5%;
    color: rgba(255, 255, 255, 0.767);
    letter-spacing: 1px;
    font-family: arial;
}
@media screen and (max-width:1230px){
    .body4 .image-left{
        grid-column-start: 1;
        grid-column-end: 6;
    }
}
@media screen and (max-width:1050px){
    .body4 .right-text{
        grid-column-start: 8;
        grid-column-end: 13;
    }

}
@media screen and (max-width:880px){
    .body4 .image-left{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 13;
        padding-top: 10%;
        padding-left: 15%;
    }
    .body4 .image-left img{
        height: 50%;
     }
    .body4 .right-text{
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 1;
    }
}
@media screen and (max-width:450px){
    .body4 .image-left{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 13;
        padding-top: 10%;
        padding-left: 1%;
    }
    .body4 .image-left img{
        height: 40%;
     }
}